<div class="container">
  <div class="containerImg">
    <img [@camiloAnimation]='state' src="https://api.adorable.io/avatars/9999">
  </div>

  <div class="contOptions">
    <button (mouseenter)="state = 'radius'" (mouseleave)="normalState()">Round out</button>
    <button (mouseenter)="state = 'rote'" (mouseleave)="normalState()">Rotate</button>
    <button (mouseenter)="state = 'hinge'" (mouseleave)="normalState()">Hinge</button>
    <button (mouseenter)="state = 'crazy'" (mouseleave)="normalState()">Crazy Time</button>
    <button>Bye!</button>
  </div>
</div>
